#title {

position: relative;
width: 1280px;
height: 80px;

background: #FFFFFF;
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
position:sticky;
}

/* 쇼핑몰 이름 */

/* position: absolute;
left: 11.17%;
right: 70.86%;
top: 31.48%;
bottom: 31.48%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 88.02%;
/* or 28px */
/* display: flex;
align-items: center;

color: #000000; */ 



/* 햄버거 버튼 */
#HamButton {
position: absolute;
width: 34px;
height: 24px;
left: 1170px;
top: 28px;
}


/* 아이콘 */

/* position: absolute;
left: 5.88%;
right: 5.88%;
top: 8.33%;
bottom: 8.33%;

border: 3px solid #000000; */


/* 로고 */
#logo {
position: absolute;
left: 5.94%;
right: 89.77%;
top: 31.25%;
bottom: 31.25%;

/* background: url(); */
}